.login {
    position: relative;
    width: 100vw;
    height: 100vh;
    .form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px;
        background-color: aquamarine;
        border-radius: 10px;
        & > div {
            padding-bottom: 20px;
        }
    }
}
