html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, san s-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input {
  padding: 10px 8px;
  border: 1px solid #ccc;
  outline: none;
  min-width: 280px;
  &:focus {
    border: 1px solid rgb(71, 71, 255);
  }
}

button {
  padding: 8px 12px;
  cursor: pointer;
}
.error {
  color: rgb(214, 53, 53);
}
